footer.footer 
    h4(class="footer__title") "Quiz - Nâng tầm kỹ năng lập trình!"
    p(class="footer__desc") Thử thách bản thân với hàng trăm câu hỏi về lập trình, 
        | từ cơ bản đến nâng cao. Theo dõi tiến độ, chinh phục bảng xếp hạng và học hỏi từ những sai lầm. Hãy cùng rèn luyện mỗi ngày để trở thành lập trình viên xuất sắc! 
    ul(class="footer__contact")
        li(class="footer__item")
            a(href="#")
                i(class="fa-brands fa-facebook")
        li(class="footer__item")
            a(href="#")
                i(class="fa-brands fa-twitter")
        li(class="footer__item")
            a(href="#")
                i(class="fa-brands fa-instagram")
        li(class="footer__item")
            a(href="#")
                i(class="fa-regular fa-envelope")