.col-4
    .nav
        ul(class="nav__menu") 
            li(class="nav__menu-item")
                a(href="#") 
                    i(class="fa-solid fa-house")
                    span Trang chủ
            li(class="nav__menu-item")
                a(href="#") 
                    i(class="fa-solid fa-book")
                    span Môn học
            li(class="nav__menu-item")
                a(href="#") 
                    i(class="fa-solid fa-envelope")
                    span Liên hệ
            li(class="nav__menu-item")
                a(href="#") 
                    i(class="fa-solid fa-comment-dots")
                    span Góp ý
            li(class="nav__menu-item")
                a(href="#") 
                    i(class="fa-solid fa-circle-question")
                    span Hỏi đáp
        